In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
import imageio.v3 as iio
%load_ext autoreload
%autoreload 2
from time import sleep

In [2]:
genus = pd.read_csv("data/genus.csv")
genus.head()

            Genus  Value                                       Distribution
0       Apostasia   1066    Distribution: Tropical Asia, Malesia, Australia
1       Neuwiedia   1067  Distribution: S-China, Indochina, Malesia from...
2       Duckeella   1068                      Distribution: N-South America
3         Pogonia   1069  Distribution: Temperate E-Asia (4), North Amer...
4  Cleistesiopsis   1070                                  Distribution: USA

In [3]:
data = pd.read_csv("data/orchids.csv")
data["SubSpecie"].fillna("", inplace=True)
data.Genus_Info.fillna("", inplace=True)

In [4]:

data["Variant"] = ""
data.head()

,UID,Specie,SubSpecie,Distribution,href,Genus,Genus_Info,Value,Variant
0,0,0,0,0,0,0,0,0,
1,39213,Apostasia elliptica,,"[['peninsular Malaysia', 'Sumatra', 'Borneo', ...",[],Apostasia,,1066,
2,39214,Apostasia fogangica,,"[['peninsular Malaysia', 'Sumatra', 'Borneo', ...",[],Apostasia,,1066,
3,39215,Apostasia latifolia,,"[['peninsular Malaysia', 'Sumatra', 'Borneo', ...",['https://www.worldplants.de/fileadmin/Modules...,Apostasia,,1066,
4,39216,Apostasia nuda,,"[['peninsular Malaysia', 'Sumatra', 'Borneo', ...",[],Apostasia,,1066,

In [28]:
columns = ["UID","Specie","SubSpecie","Variant","Distribution","href","Genus","Genus_Info","Value"]
data_var = pd.DataFrame(columns= columns)
#data_var
#data_var.to_csv("data/orchids_var.csv", index=False, header=True)

In [6]:
data.head()

,UID,Specie,SubSpecie,Distribution,href,Genus,Genus_Info,Value,Variant
0,0,0,0,0,0,0,0,0,
1,39213,Apostasia elliptica,,"[['peninsular Malaysia', 'Sumatra', 'Borneo', ...",[],Apostasia,,1066,
2,39214,Apostasia fogangica,,"[['peninsular Malaysia', 'Sumatra', 'Borneo', ...",[],Apostasia,,1066,
3,39215,Apostasia latifolia,,"[['peninsular Malaysia', 'Sumatra', 'Borneo', ...",['https://www.worldplants.de/fileadmin/Modules...,Apostasia,,1066,
4,39216,Apostasia nuda,,"[['peninsular Malaysia', 'Sumatra', 'Borneo', ...",[],Apostasia,,1066,

In [7]:
#df = data.copy()
#df["SubSpecie"].fillna("", inplace=True)
#df.Genus_Info.fillna("", inplace=True)
#df["Variant"] = ""
#df = df[["UID","Specie","SubSpecie","Variant","Distribution","href","Genus","Genus_Info","Value"]]
#df.head()

In [8]:
base_url = "https://www.worldplants.de/world-orchids/orchid-list"

In [9]:
def connection_to_webpage(base_url,value):
# we generate the url
    url = base_url + "#g-"+value
    browser = webdriver.Chrome()

    browser.get(url)
    wait = WebDriverWait(browser,20)
    html = browser.page_source

    return browser

In [10]:
def get_var_species(browser):
    sleep(3)
    orchid_sub = browser.find_elements(By.CSS_SELECTOR, ".type-variant")
    name_sub = []
    dist_sub = []
    href_sub = []
    h = []
    data_sub = []
    distribution = []
    for i in orchid_sub:
        u_id =int(i.get_attribute("id").split("-")[1])
        n = i.find_element(By.CSS_SELECTOR, ".latName").text
        name_sub.append(u_id)
        tmp = i.find_elements(By.CSS_SELECTOR, ".distCountry")
        for j in tmp:
            dist_sub.append([j.text])
        distribution.append(dist_sub)
        dist_sub = []
        image = i.find_elements(By.CSS_SELECTOR, "div.imageBox a")
        for j in image:
            tmp =j.get_attribute("href")
            if tmp not in h:
                h.append(tmp)
        href_sub.append(h)
        data_sub.append([u_id,n,distribution,h])
        h = []
    return data_sub, name_sub

In [11]:
def get_species_sub_species(name_sub,data,data_sub):
    j = 0
    k = 0
    spe = ""
    for i in name_sub:
        while k == 0:
            if (i-j) in data["UID"].values:
                spe = data[data["UID"] == (i-j)]["Specie"].unique()
                data_sub.loc[data_sub["UID"]==i,"Specie"] = spe
                k = 1
            j += 1
        print("out of while", i)
        j = 0
        k = 0    
    return data_sub

In [12]:
def create_images(data):
    for i in data.index:
        m = data["href"][i]
        name = data["Specie"][i]
        sub = data["SubSpecie"][i]
        var = data["Variant"][i]
        if len(m) != 0:
            for j,k in enumerate(m):             
                tmp = iio.imread(k)
                iio.imwrite(f"images/{name}-{var}-{j}.jpg",tmp)
                sleep(1)
    return "Images created successfully"

In [13]:
def save_data(data):
    data = data[["UID","Specie","SubSpecie","Variant","Distribution","href","Genus","Genus_Info","Value"]]
    data.to_csv('data/orchids_var.csv',mode='a', index=False, header=False)
    return "Data appended successfully."

In [14]:
def make_df(data,columns,*extra):
    df = pd.DataFrame(data, columns =columns)
    for i in extra:
        df[i] = ""
    sleep(1)
    return df

In [15]:
def add_columns(g, g_d,v,data):
    data["Genus"] = g
    data["Genus_Info"] = g_d
    data["Value"] = v
    sleep(1)
    return data

In [16]:
daa =

SyntaxError: invalid syntax (4036101673.py, line 1)

In [ ]:
#data = data[["UID","Specie","SubSpecie","Variant","Distribution","href","Genus","Genus_Info","Value"]]
#data.to_csv('data/orchids2.csv', index=False, header=True)

<h2> The main program

In [29]:
for i in range(352,len(genus)):
    v = genus["Value"][i]
    g = genus["Genus"][i]
    d = genus["Distribution"]
    url = base_url + "#g-"+str(v)
    browser = webdriver.Chrome()
    browser.get(url)
    html = browser.page_source
    data_var, name_var= get_var_species(browser)
    wait = WebDriverWait(browser,20)
    data_var = make_df(data_var, ["UID","Variant","Distribution","href"], "Specie", "SubSpecie")
    #df = pd.concat([data,data_var],ignore_index = True)
    if data_var.shape[0] > 0:
        data_var = get_species_sub_species(name_var,data,data_var)
        data_var = add_columns(g, d,v,data_var)
        save_data(data_var)
        create_images(data_var)
        sleep(5)
    browser.close()
    print(f"row {i}")

out of while 57344
row 352
out of while 57357
out of while 57371
out of while 57394
row 353
row 354
row 355
row 356
row 357
row 358
out of while 57531
out of while 57548
out of while 57569
row 359
row 360
out of while 57578
row 361
row 362
row 363
row 364
row 365
row 366
row 367
row 368
row 369
out of while 57659
row 370
row 371
row 372
row 373
row 374
row 375
out of while 57725
row 376
out of while 57733
row 377
row 378
row 379
row 380
out of while 57775
row 381
out of while 57831
row 382
row 383
row 384
row 385
row 386
row 387
row 388
row 389
row 390
row 391
row 392
row 393
out of while 57956
row 394
row 395
row 396
row 397
row 398
row 399
row 400
out of while 58054
out of while 58060
row 401
out of while 58070
out of while 58106
row 402
row 403
row 404
row 405
row 406
row 407
row 408
row 409
row 410
out of while 58282
out of while 58283
out of while 58284
out of while 58285
out of while 58287
row 411
row 412
out of while 58358
out of while 58371
out of while 58372
out of while 58373
out of while 58385
out of while 58386
row 413
row 414
row 415
row 416
row 417
row 418
out of while 58455
out of while 58478
out of while 58489
out of while 58515
out of while 58523
out of while 58524
out of while 58549
row 419
row 420
row 421
row 422
row 423
out of while 58599
row 424
row 425
row 426
row 427
row 428
row 429
row 430
out of while 58639
row 431
row 432
out of while 58665
row 433
row 434
row 435
row 436
out of while 58746
out of while 58794
row 437
row 438
row 439
out of while 58841
out of while 58856
row 440
row 441
row 442
row 443
row 444
row 445
row 446
out of while 58970
row 447
row 448
out of while 59021
row 449
row 450
out of while 59033
out of while 59037
row 451
row 452
row 453
out of while 59211
row 454
row 455
row 456
row 457
out of while 59307
out of while 59308
out of while 59316
row 458
row 459
row 460
row 461
row 462
row 463
row 464
row 465
row 466
row 467
row 468
out of while 59457
out of while 59585
row 469
out of while 59646
out of while 59651
out of while 59656
out of while 59658
out of while 59665
out of while 59680
out of while 59681
out of while 59684
out of while 59686
out of while 59716
out of while 59722
row 470
out of while 59744
out of while 59748
row 471
row 472
row 473
row 474
out of while 59764
out of while 59766
row 475
row 476
out of while 59791
row 477
row 478
row 479
row 480
out of while 59826
row 481
out of while 59841
out of while 59842
out of while 59901
out of while 59954
out of while 59955
out of while 59961
out of while 59962
out of while 60010
out of while 60029
out of while 60091
out of while 60092
row 482
row 483
row 484
out of while 60134
row 485
row 486
out of while 60181
out of while 60184
out of while 60199
out of while 60207
out of while 60218
out of while 60234
out of while 60235
out of while 60236
out of while 60237
out of while 60251
out of while 60329
out of while 60332
out of while 60343
out of while 60344
out of while 60367
out of while 60368
out of while 60382
out of while 60383
row 487
row 488
out of while 60426
row 489
out of while 60496
row 490
out of while 60580
out of while 60581
out of while 60586
out of while 60592
row 491
row 492
row 493
row 494
row 495
row 496
row 497
row 498
row 499
row 500
row 501
row 502
row 503
row 504
row 505
row 506
out of while 60918
out of while 60926
row 507
row 508
row 509
row 510
row 511
row 512
row 513
row 514
row 515
row 516
out of while 61209
out of while 61240
out of while 61249
out of while 61258
out of while 61272
out of while 61273
out of while 61281
out of while 61286
out of while 61300
out of while 61320
out of while 61321
row 517
row 518
row 519
row 520
row 521
row 522
row 523
row 524
row 525
row 526
row 527
row 528
row 529
row 530
row 531
row 532
row 533
row 534
row 535
row 536
row 537
out of while 62337
row 538
row 539
row 540
row 541
row 542
row 543
row 544
row 545
row 546
out of while 62425
row 547
row 548
row 549
row 550
row 551
row 552
row 553
row 554
row 555
row 556
row 557
out of while 62590
row 558
out of while 62608
out of while 62619
row 559
row 560
row 561
row 562
out of while 63247
row 563
row 564
out of while 63368
out of while 63380
out of while 63384
out of while 63385
out of while 63386
out of while 63390
out of while 63391
out of while 63399
out of while 63400
out of while 63406
out of while 63407
out of while 63414
out of while 63432
out of while 63436
row 565
out of while 63444
out of while 63445
out of while 63447
out of while 63448
out of while 63452
row 566
out of while 63460
out of while 63463
out of while 63472
row 567
out of while 63529
out of while 63544
row 568
out of while 63553
row 569
row 570
out of while 63578
row 571
row 572
row 573
row 574
row 575
row 576
row 577
row 578
row 579
row 580
row 581
row 582
row 583
row 584
row 585
row 586
row 587
row 588
row 589
row 590
row 591
row 592
row 593
row 594
row 595
row 596
row 597
row 598
row 599
row 600
row 601
row 602
row 603
row 604
row 605
row 606
row 607
row 608
row 609
row 610
out of while 64039
row 611
out of while 64049
out of while 64050
out of while 64056
row 612
row 613
out of while 64065
row 614
row 615
row 616
row 617
row 618
row 619
row 620
out of while 64191
row 621
row 622
row 623
row 624
row 625
row 626
row 627
row 628
out of while 64271
row 629
out of while 64307
row 630
row 631
out of while 64320
out of while 64373
out of while 64374
out of while 64375
row 632
row 633
row 634
row 635
out of while 64432
out of while 64437
row 636
row 637
row 638
row 639
row 640
row 641
row 642
row 643
out of while 64596
out of while 64597
out of while 64598
out of while 64599
row 644
row 645
row 646
row 647
row 648
out of while 64643
row 649
out of while 64656
row 650
out of while 64674
out of while 64675
out of while 64678
out of while 64679
out of while 64683
out of while 64684
row 651
out of while 64690
row 652
row 653
row 654
row 655
out of while 64725
row 656
row 657
row 658
row 659
row 660
row 661
row 662
row 663
row 664
row 665
row 666
row 667
row 668
row 669
row 670
row 671
row 672
row 673
row 674
row 675
row 676
row 677
row 678
row 679
row 680
row 681
out of while 66946
out of while 66947
out of while 67040
row 682
out of while 67149
row 683
out of while 67267
row 684
row 685
out of while 67329
out of while 67378
out of while 67379
out of while 67396
out of while 67420
row 686
row 687
row 688
row 689
out of while 67542
row 690
row 691
row 692
row 693
out of while 67573
out of while 67579
row 694
row 695
row 696
row 697
row 698
row 699
row 700
row 701
row 702
row 703
row 704
row 705
row 706
row 707
row 708
row 709
row 710
row 711
row 712
row 713
row 714
row 715
row 716
row 717
row 718
row 719
row 720
row 721
row 722
row 723
row 724
row 725
row 726
row 727
row 728
row 729
out of while 69891
row 730
row 731
row 732
row 733
row 734
row 735
row 736
row 737
row 738
row 739
row 740
row 741
row 742
row 743
row 744
row 745
row 746
row 747
row 748

In [25]:
dat =
i = 125
v = genus["Value"][i]
g = genus["Genus"][i]
d = genus["Distribution"]
url = base_url + "#g-"+str(v)
browser = webdriver.Chrome()
browser.get(url)
html = browser.page_source
data_var, name_var= get_var_species(browser)
wait = WebDriverWait(browser,20)
data_var = make_df(data_var, ["UID","Variant","Distribution","href"], "Specie", "SubSpecie")
#df = pd.concat([data,data_var],ignore_index = True)
if data_var.shape[0] > 0:
    data_var = get_species_sub_species(name_var,data,data_var)
    data_var = add_columns(g, d,v,data_var)
    save_data(data_var)
    create_images(data_var)
    sleep(5)
browser.close()
print(f"row {i}")

row 125